<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue JS admin panel</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/admin.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">
</head>

<body>
    <div class="container">
        <script type="text/x-template" id="grid-template">
            <div class="row">
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th v-for="key in columns"
                                @click="sortBy(key)"
                                :class="{ active: sortKey == key }">
                                {{ key | capitalize }}
                                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                                </span>
                            </th>
                            <th class="th-non-sort">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in filteredData">
                                <td v-for="key in columns">
                                    {{entry[key]}}
                                </td>
                                <td>
                                    <button class="btn btn-default" @click="deleteRow(entry)">
                                        <span class="glyphicon glyphicon-delete" style="margin-top: 3px;"></span> Delete
                                    </button>
                                    <button
                                            class="btn btn-default"
                                            @click="title = 'Edit item';editRow(entry)"
                                            data-toggle="modal"
                                            data-target="#input-modal"
                                            data-whatever="Edit item">Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button
                            type="button"
                            @click="fillItem = {},title = 'Add item'"
                            class="btn btn-success btn-lg"
                            style="float:right"
                            data-toggle="modal"
                            data-target="#input-modal"
                            data-whatever="Add item">Add item
                    </button>

                    <!--
                    <div class="alert alert-danger">
                        {message}
                    </div>
                    -->

                    <!-- Modal for add/edit items-->
                    <div class="modal fade" id="input-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" style="float:left">{{title}}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form @submit.prevent="saveItem(fillItem)" id="save-form">
                                        <div v-for="field in columns.filter(noId)">
                                            <div class="form-group">
                                                <label :for="field" class="form-control-label">{{field.toUpperCase()}}</label>
                                                <input v-model="fillItem[field]" type="text" class="form-control" :id="field">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" form="save-form" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="data-select">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <div class="btn-group" role="group">
                        <button
                                v-for="each in gridResources"
                                type="button"
                                class="btn btn-default"
                                :class="{active: each == selected || each == initialSelect}"
                                @click="selected = each; getData(each)">{{each}}
                        </button>
                    </div>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>{{user.login}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="" @click="logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </script>

        <!-- root element -->
        <div id="appVue" >
            <template v-if="isUserValid">
                <h1>Admin panel</h1>
                <form id="search">
                    Search <input name="query" v-model="searchQuery">
                </form>
                <data-select
                        :grid-resources="gridResources"
                        :get-data="getData"
                        :initial-select="gridActiveResource"
                        :logout="logout"
                        :user="user"
                        >
                </data-select>
                <grid
                        v-if="(gridColumns.length != 0)"
                        :current-user="user"
                        :active-resource="gridActiveResource"
                        :data="gridData"
                        :columns="gridColumns"
                        :filter-key="searchQuery"
                        :title="''">
                </grid>
            </template>
            <!-- Login modal -->
            <div class="login-modal modal fade"  id="login-modal" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-5">
                                    <h2>Log in</h2>
                                    <form id="login-form" method="post" @submit.prevent="loginUser()">
                                        <div class="alert alert-danger" role="alert" id="alert-login">
                                            The login or password is incorrect.
                                        </div>
                                        <div class="form-group  has-feedback">
                                            <label class="form-control-label">Username</label>
                                            <input type="text" name="login" class="form-control" required>
                                            <!--<span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                            <span class="help-block">Username is required</span>-->
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="form-control-label">Password</label>
                                            <input type="password" name="password" class="form-control" required>
                                            <!-- has-error<span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                            <span class="help-block">Password is required</span>-->
                                        </div>
                                    </form>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <button type="submit" form="login-form" class="btn btn-primary btn-lg">Login</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Vue.js -->
    <script src="vendor/vue/vue.js"></script>

    <script src="vendor/jquery/jquery.js"></script>

    <script src="vendor/bootstrap/js/bootstrap.js"></script>

    <!-- Admin interface logic -->
    <script src="js/admin.js"></script>
</body>
</html>